{% extends "base.html" %}

{% block right_column %}
{% if validlink %}
<div id="forms">
	<div id="info">
		Wprowadź nowe hasło do swojego konta.
	</div>
	<form action="" method="post">
	{% csrf_token %}
	  {% for field in form %}
	  	{% if field.errors %}
		    <div class="error">
			{% for error in field.errors %}
				<strong>{{ error|escape }} </strong>
			{% endfor %}
			</div>
		{% endif %}
	    {{ field.label_tag }} {{ field }}
	  {% endfor %}
	  <p><input type="submit" value="Resetuj hasło" class="button2" id="reset_password" /></p>
	</form>
</div>
{% else %}
<p>Ten link jest niepoprawny.</p>
{% endif %}

{% endblock %}