{% extends "base.html" %}

{% block right_column %}
<div id="forms">
	<div id="info">
		Wpisz adres e-mail, na który zostanie wysłana wiadomość z dalszymi instrukcjami.
	</div>
	
	<form action="" method="post">
	{% csrf_token %}
		
		  	{% for field in form %}
			  	{% if field.errors %}
				    <div class="error">
						{% for error in field.errors %}
							<strong>{{ error|escape }} </strong>
						{% endfor %}
					</div>
				{% endif %}
		    	{{ field.label_tag }} {{ field }}
			 {% endfor %}
			 <p><input type="submit" value="Zresetuj hasło" class="button2" id="reset_password" /></p>
		 
	</form>
</div>
{% endblock %}