{% extends 'base.html' %}
{% load url from future %}

{% block javascript %}
	{{ block.super }}
	<link href="{{ MEDIA_URL }}/css/jquery_ui.css" rel="stylesheet" type="text/css"/>
	<script src="{{ MEDIA_URL }}/js/jquery_ui_min.js"></script>
	<script src="{{ MEDIA_URL }}/js/datepicker.js" ></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$( "#date2" ).datepicker($.datepicker.regional['PL'], { changeYear: true, changeMonth: true, dateFormat: "yy-mm-dd" });
			
			$("#date2").change(function() {
				$.post('/appointment_list2/',
					{ date: $(this).val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#graphic').html($(data).find('#graphic').html());
						$('#title').html($(data).find('#title').html()); 
						
						$('.appoint_future, .appoint_past, .appoint_now').click(function() {
						 	$.post('/appointment_list2/',
								{ date: $('#date2').val(),
								  appoint: $(this).attr('id'),
								  csrfmiddlewaretoken: '{{ csrf_token }}' },
								function(data) {
									window.location = '/patient_card_dentist/';
								}	  
							);
						 	return false;
						 });
				});
			 	return false;
			 });
			 
			$("#today").submit(function() {
				$.post('/appointment_list2/',
					{ date: '0',
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#graphic').html($(data).find('#graphic').html()); 
						$('#date2').attr('value', $(data).find('#date2').val());
						$('#title').html($(data).find('#title').html());
				});
			 	return false;
			 }); 
			 
			 $("#graphic3").click(function() {
				$.post('/appointment_list/',
					{ date: $('#date2').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
				});
			 	return false;
			 });
			 
			 $('.appoint_future, .appoint_past, .appoint_now').click(function() {
			 	$.post('/appointment_list2/',
					{ date: $('#date2').val(),
					  appoint: $(this).attr('id'),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) {
						window.location = '/patient_card_dentist/';
					}	  
				);
			 	return false;
			 });
			 
			 var refreshId = setInterval(function() {
			 	location.reload();
			 }, 60000);
		});
	</script>
{% endblock %}

{% block header %}
	Lista pacjentów na dzień <strong>{{ date }}</strong>
{% endblock %}

{% block right_column %}
<div id="rezerwacje">
	<form id="today">
		Data: <input type="text" id="date2" value="{{ date }}"/>
		<input type="submit" value="Dziś" id="send_data"/>
	</form>

	<form id="graphic3" style="float:right">
		Zmień wygląd: <img src="{{ MEDIA_URL }}/img/table.png" id="send_graphic"/>
	</form>
</div>
	
<table id="graphic" style="width: 550px">
<tr><th width="150px">Godzina</th><th>Pacjent</th></tr>
	{% for a in appoints %}
		<tr>
			{% if a.now_time %}
				<td class="now_time">
			{% else %}
				<td>
			{% endif %}
			{{ a.hour|time:"H:i" }}</td>
			{% if a.length > 0 and a.appoint %}
			
				{% if a.appoint.is_now == 1 %}
					<td class="appoint_now" 
				{% elif a.appoint.is_now == -1 %}
					<td class="appoint_past" 
				{% else %}
					<td class="appoint_future" 
				{% endif %}
				rowspan="{{a.length}}" id="{{ a.appoint.id }}">{{ a.appoint.patient.last_name }} {{ a.appoint.patient.first_name }}</td>
			
			{% elif a.length > 0 %}
			{% else %}
			<td></td>
			{% endif %}
		</tr>
	{% endfor %} 
	{% for a in appoints_untimely %}
		<tr><td>Nieterminowa</td>
		{% if a.is_now == 1 %}
			<td class="appoint_now" id="{{ a.id }}">
		{% elif a.is_now == -1 %}
			<td class="appoint_past" id="{{ a.id }}">
		{% else %}
			<td class="appoint_future" id="{{ a.id }}">
		{% endif %}
			{{ a.patient.last_name }} {{ a.patient.first_name }}</td></tr>
	{% endfor %}
</table>

{% endblock %}