{% load url from future %}
{% load group_filter %}

<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>
{% block title %}
Stomatologia Coldix
{% endblock %}
</title>

{% block css %}
<link href="{{ MEDIA_URL }}/css/style.css" rel="stylesheet" media="all" type="text/css" />
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.js"></script>

{% if header %}
	<script>
		$(document).ready(function() {
			var $sidebar   = $("#title"), 
		        $window    = $(window),
		        offset     = $sidebar.offset(),
		        topPadding = 3;
	
			if ($window.scrollTop() > offset.top) {
	            $sidebar.stop().animate({
	                marginTop: $window.scrollTop() - offset.top + topPadding
	            });
	        }
		
		    $window.scroll(function() {
		        if ($window.scrollTop() > offset.top) {
		            $sidebar.stop().animate({
		                marginTop: $window.scrollTop() - offset.top + topPadding
		            });
		        } else {
		            $sidebar.stop().animate({
		                marginTop: 0
		            });
		        }
		    });
		});
	</script>
{% endif %}
{%endblock %}
<link rel="shortcut icon" href="{{ MEDIA_URL }}/img/favicon.ico" type="image/x-icon" />

</head>

<body>

<div id="content" class="napraw">
{% block content %}
<div id="belka_lewa">
</div>
<div id="column_content">
<div id="belka_gora">
<div id="log_box">
{% if user.is_authenticated %}
<div id="tekst_log">Witaj {% if user|in_group:'dentysta' %}<a href="{% url 'views.dentist_profile' %}">{% else %}<a href="{% url 'views.update_profile' %}">{% endif %}{{ user.username }}</a>.</div>
<img src="{{ MEDIA_URL }}/img/malabelka.jpg"/>
<div id="tekst_log"><a href="{% url 'views.logout_view' %}">Wyloguj</a>.</div>
{% else %}
<div id="tekst_log">Witaj <a href="#">Gość</a>.</div>
<img src="{{ MEDIA_URL }}/img/malabelka.jpg"/>
<div id="tekst_log"><a href="{% url 'django.contrib.auth.views.login' %}">Zaloguj się </a>lub <a href="{% url 'views.register' %}">Zarejestruj</a>, jeśli nie posiadasz konta.</div>
<img src="{{ MEDIA_URL }}/img/malabelka.jpg"/>
<div id="tekst_log"><a href="{% url 'django.contrib.auth.views.password_reset' %}">Zapomniałem hasła</a>.</div>
{% endif %}
</div>
</div>

<div id="baner">
<a href="{% url 'views.index' %}"><img src="{{ MEDIA_URL }}/img/logo.png"/></a>
{% if not user.is_authenticated %}
<div id="form_log">
<form action="{% url 'django.contrib.auth.views.login' %}" method="POST">
{% csrf_token %}
<input name="username" value="Login" onfocus="if(this.value=='' || this.value == 'Login') this.value=''" onblur="if(this.value == '') {this.value=this.defaultValue}" onkeyup="keyUp();" type="text">
<input name="password" value="Hasło" onfocus="if(this.value=='' || this.value == 'Hasło') this.value=''" onblur="if(this.value == '') {this.value=this.defaultValue}" onkeyup="keyUp();" type="password">
<input id="send_log" name="send_log" value=">>" type="submit"/>
</form>
</div>
{% endif %}
</div>

<div id=menu_wrap>
<div id="menu">
<ul>
<li><a href="{% url 'views.index' %}">Home</a></li>
<li><a href="{% url 'views.offices' %}">Gabinety</a></li>
<li><a href="{% url 'views.dentists' %}">Dentyści</a></li>
<li>{% if user|in_group:'rejestrator' %}<a href="{% url 'views.dentist_register2' %}">{% else %}<a href="{% url 'views.dentist_register' %}">{% endif %}Rejestracja</a></li>
<li><a href="kontakt.html">Kontakt</a></li>
</ul>
</div>
</div>
<div id="cien_menu">
</div>
<div style="clear:both;"></div>
<div id="body_page">
<div id="left_column">
{% block left_column %}
{% if user.is_authenticated %}
<div id="submenu">
<ul>

{% if user|in_group:'pacjent' %}
<li><a href="{% url 'views.update_profile' %}">Profil</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.diseases' %}">Choroby</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.change_password' %}">Hasło</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.dentist_register' %}">Rejestracja</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.reservations' %}">Przyszłe wizyty</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.patient_card' %}">Moja karta</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
{% elif user|in_group:'rejestrator' %}
<li><a href="{% url 'views.day_graphic' %}">Grafik</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.dentist_register2' %}">Rejestracja wizyty</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.dentist_register3' %}">Rejestracja nad stan</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.patient_list' %}">Pacjenci</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.register_by_receptionist' %}">Rejestracja</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.patient_user' %}">Połączenie konta</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.dates_addition' %}">Dodaj terminy</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.dates_addition_edit' %}">Edytuj terminy</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.change_password' %}">Hasło</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
{% elif user|in_group:'dentysta' %}
<li><a href="{% url 'views.appointment_list' %}">Grafik</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.dentist_profile' %}">Profil</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
<li><a href="{% url 'views.change_password' %}">Hasło</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
{% endif %}
{% if user|in_group:'administrator' %}
<li><a href="/admin/">Panel admina</a></li>
<img src="{{ MEDIA_URL }}/img/pasek_submenu.jpg"/>
{% endif %}

</ul>
</div>
{% else %}
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FStomatolog-Coldix%2F323848351055930&amp;width=200&amp;height=395&amp;colorscheme=light&amp;show_faces=false&amp;border_color=9e9e9e&amp;stream=true&amp;header=false&amp;appId=279481798728744" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:395px;" allowTransparency="true"></iframe>
{% endif %}
{% endblock %}
</div>
<!--<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FStomatolog-Coldix%2F323848351055930&amp;width=200&amp;height=395&amp;colorscheme=light&amp;show_faces=false&amp;border_color=3e3e3e&amp;stream=true&amp;header=false&amp;appId=279481798728744" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:395px;" allowTransparency="true"></iframe>-->
<div id="right_column">
	{% if header %}
		<div id="title">
			{% block header %}
			{% endblock %} 
		</div>
		<div id="under_title" style="height:35px"></div>
	{% endif %}

	<div id="flash_messages">
		{% if messages %}
			<div class="flash_messages">
			    {% for message in messages %}
			    	{% if forloop.last %}
			    		<div{% if message.tags %} class="{{ 'flash_'|add:message.tags }}"{% endif %}>{{ message }}</div>
			    	{% endif %}
			    {% endfor %}
			</div>	
		{% endif %}
	</div>
{% block right_column %}
{% endblock %}
</div>
</div>

<div id="footer">
<p>Copyright © 2012 ZPI. Wszystkie prawa zastrzeżone.</p>
</div>
</div>
<div id="belka_prawa">
</div>
{% endblock %}
</div>


</body>
</html>