{% extends 'base.html' %}

{% block css %}
	{{ block.super }}
	<link href="{{ MEDIA_URL }}/css/jquery_ui.css" rel="stylesheet" media="all" type="text/css" />
	<style type="text/css">
		/* begin: jQuery UI Datepicker moving pixels fix */
		table.ui-datepicker-calendar {border-collapse: separate;}
		.ui-datepicker-calendar td {border: 1px solid transparent;}
		/* end: jQuery UI Datepicker moving pixels fix */
		
		/* begin: jQuery UI Datepicker emphasis on selected dates */
		.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
		background: #743620 none; /* a color that fits the widget theme */
		color: white; /* a color that is readeable with the color above */
		}
		/* end: jQuery UI Datepicker emphasis on selected dates */
	</style>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script src="{{ MEDIA_URL }}/js/jquery_ui_min.js"></script>
	<script src="{{ MEDIA_URL }}/js/datepicker.js" ></script>
	<script src="{{ MEDIA_URL }}/js/jquery-ui.multidatespicker.js" ></script>
	<script>
	
	$(document).ready(function() {
	
	jQuery.fn.update_disable = function(target, target2) {
	 	var temp = $(target2).val();
	 	temp_table = temp.split(" ");
	 	if(temp_table.length >=2) {
			table = temp_table.slice(0, temp_table.length-1);
		}
		$( target ).multiDatesPicker({addDisabledDates: table});
	}
	
		 var table = ""; 
		 
		 $.datepicker.setDefaults($.datepicker.regional['PL']);
		 $( "#id_date" ).multiDatesPicker({
        	defaultDate: "+1w",
        	minDate: "0",
            changeMonth: true,
            numberOfMonths: 3,
            maxPicks: 1,
            beforeShow: function() {
            	$(this).update_disable("#id_date", "#id_hidden");
            }
         });      
		
		 $("#id_office").change(function() {
			$.post('/date_addition/?type=ajax',
			{ office: $(this).val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				var content = $(data).find('#dynamic_content').html();
				$('#dynamic_content').html(content);
				
				$("select[name=dentist_man]").change(function() {
					$.post('/date_addition/?type=ajax',
					{ office: $('#id_office').val(),
					  dentist_man: $(this).val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						var content = $(data).find('#dynamic_content2').html();
						$('#dynamic_content2').html(content);
						
						$( "#id_date" ).multiDatesPicker('resetDates', 'disabled');						
						$( "#id_date" ).update_disable("#id_date", "#id_hidden");
					});
				 	return false;
				 });
				 
				$( "#id_date" ).multiDatesPicker('resetDates', 'disabled');						
				$( "#id_date" ).update_disable("#id_date", "#id_hidden");
		         
				 
			});
		 	return false;
		 });
		 
		 $("select[name=dentist_man]").change(function() {
			$.post('/date_addition/?type=ajax',
			{ office: $('#id_office').val(),
			  dentist_man: $(this).val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				var content = $(data).find('#dynamic_content2').html();
				$('#dynamic_content2').html(content);

				$( "#id_date" ).multiDatesPicker('resetDates', 'disabled');						
				$( "#id_date" ).update_disable("#id_date", "#id_hidden");	         				
			});
		 	return false;
		 });		 
	});
	</script>
{% endblock %}

{% block header %}
	Dodaj termin spoza grafiku
{% endblock %}

{% block right_column %}
<div id="forms">
<form action="{% url views.date_addition %}" method="post"> {% csrf_token %}
	{% if form.non_field_errors %}
       	<div class="error">
		    {% for error in form.non_field_errors %}
		        <strong>{{ error|escape }} </strong>
			{% endfor %}
		</div>
	{% endif %}
	
	<div class="error">
	    {% for error in form.office.errors %}
	        <strong>{{ error|escape }} </strong>
	    {% endfor %}
	</div>
	{{ form.office.label_tag }}
	{{ form.office }}
	
	<div id="dynamic_content">	
		<div class="error">
		    {% for error in form.dentist_man.errors %}
		        <strong>{{ error|escape }} </strong>
		    {% endfor %}
		</div>
		{{ form.dentist_man.label_tag }}
		{{ form.dentist_man }}
		
		<div id="dynamic_content2">			
			<div style="display: none">
				<div class="error">
				    {% for error in form.hidden.errors %}
				        <strong>{{ error|escape }} </strong>
				    {% endfor %}
				</div>
				{{ form.hidden }}
			</div>
		</div>
	</div>
	<div class="error">
	    {% for error in form.date.errors %}
	        <strong>{{ error|escape }} </strong>
	    {% endfor %}
	</div>
	{{ form.date.label_tag }}
	{{ form.date }}
	
	<div class="error">
	    {% for error in form.begin.errors %}
	        <strong>{{ error|escape }} </strong>
	    {% endfor %}
	</div>
	{{ form.begin.label_tag }}
	{{ form.begin }}
	
	<div class="error">
	    {% for error in form.end.errors %}
	        <strong>{{ error|escape }} </strong>
	    {% endfor %}
	</div>
	{{ form.end.label_tag }}
	{{ form.end }}
	
	<div id="dynamic_exclude">
		<div class="error">
		    {% for error in form.room.errors %}
		        <strong>{{ error|escape }} </strong>
		    {% endfor %}
		</div>
		{{ form.room.label_tag }}
		{{ form.room }}
    </div>
    
	<p><input id="id_generate_submit" name="generate_submit" type="submit" value="Generuj" class="button2" /></p>
</form>
<p><a href="{% url views.dates_addition %}">Dodaj terminy wg grafiku</a></p>
</div>
{% endblock %}