{% extends 'base.html' %}

{% block css %}
	{{ block.super }}
	<style type="text/css">
		/* begin: jQuery UI Datepicker moving pixels fix */
		table.ui-datepicker-calendar {border-collapse: separate;}
		.ui-datepicker-calendar td {border: 1px solid transparent;}
		/* end: jQuery UI Datepicker moving pixels fix */
		
		/* begin: jQuery UI Datepicker emphasis on selected dates */
		.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
		background: #743620 none; /* a color that fits the widget theme */
		color: white; /* a color that is readeable with the color above */
		}
		/* end: jQuery UI Datepicker emphasis on selected dates */
	</style>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="{{ MEDIA_URL }}/js/datepicker.js" ></script>
	<script src="{{ MEDIA_URL }}/js/jquery-ui.multidatespicker.js" ></script>
	<script>
	
	$(document).ready(function() {
	
	jQuery.fn.update_disable = function() {
	 	var temp = $("#id_hidden").val();
		table = temp.split(" ");
		$( "#id_exclude" ).multiDatesPicker({addDisabledDates: table});
		/*setTimeout(function() {}, 1000);*/
	}
	
		 var table = ""; 
		 
		 $.datepicker.setDefaults($.datepicker.regional['PL']);
		 $( "#id_begin" ).datepicker( {
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 3,
            minDate: "0",
            onClose: function( selectedDate ) {
                $( "#id_end" ).datepicker( "option", "minDate", selectedDate );
                /*$( "#id_exclude" ).datepicker( "option", "minDate", selectedDate );*/
            }
         });      
		 $( "#id_end" ).datepicker( {
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 3,
            minDate: "0",
            onClose: function( selectedDate ) {
                $( "#id_begin" ).datepicker( "option", "maxDate", selectedDate );
                /*$( "#id_exclude" ).datepicker( "option", "maxDate", selectedDate );*/
            }
         });
         today = new Date();
         $( "#id_exclude" ).multiDatesPicker({
        	defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 3,
            beforeShow: function() {
            	$(this).update_disable();
            }
		 });
		
		 $("#id_office").change(function() {
			$.post('/dates_addition/?type=ajax',
			{ office: $(this).val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				var content = $(data).find('#dynamic_content').html();
				$('#dynamic_content').html(content);
				
				$("select[name=dentist_man]").change(function() {
					$.post('/dates_addition/?type=ajax',
					{ office: $('#id_office').val(),
					  dentist_man: $(this).val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						var content = $(data).find('#dynamic_content2').html();
						$('#dynamic_content2').html(content);
						
						var temp = $(data).find("#id_hidden").val();
						table = temp.split(" ");
						$( "#id_exclude" ).multiDatesPicker('resetDates', 'disabled');	
						$( "#id_exclude" ).multiDatesPicker({addDisabledDates: table});
					});
				 	return false;
				 });
				 
				 var temp = $(data).find("#id_hidden").val();
				 table = temp.split(" ");
				 $( "#id_exclude" ).multiDatesPicker('resetDates', 'disabled');	
				 $( "#id_exclude" ).multiDatesPicker({addDisabledDates: table});
		         
				 
			});
		 	return false;
		 });
		 
		 $("select[name=dentist_man]").change(function() {
			$.post('/dates_addition/?type=ajax',
			{ office: $('#id_office').val(),
			  dentist_man: $(this).val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				var content = $(data).find('#dynamic_content2').html();
				$('#dynamic_content2').html(content);
				 
				 var temp = $(data).find("#id_hidden").val();
				 table = temp.split(" ");
				 $( "#id_exclude" ).multiDatesPicker('resetDates', 'disabled');	
				 $( "#id_exclude" ).multiDatesPicker({addDisabledDates: table});		         
				
			});
		 	return false;
		 });		 
	});
	</script>
{% endblock %}

{% block right_column %}
<div id="forms">
<form action="{% url views.dates_addition %}" method="post"> {% csrf_token %}
	{% if form.non_field_errors %}
       	<div class="error">
		    {% for error in form.non_field_errors %}
		        <strong>{{ error|escape }} </strong>
			{% endfor %}
		</div>
	{% endif %}
	
	<div class="error">
	    {% for error in form.office.errors %}
	        <strong>{{ error|escape }} </strong>
	    {% endfor %}
	</div>
	{{ form.office.label_tag }}
	{{ form.office }}
	
	<div id="dynamic_content">	
		<div class="error">
		    {% for error in form.dentist_man.errors %}
		        <strong>{{ error|escape }} </strong>
		    {% endfor %}
		</div>
		{{ form.dentist_man.label_tag }}
		{{ form.dentist_man }}
		
		<div id="dynamic_content2">
			<div class="error">
			    {% for error in form.information.errors %}
			        <strong>{{ error|escape }} </strong>
			    {% endfor %}
			</div>
			{{ form.information.label_tag }}
			{{ form.information }}
			
			<div class="error">
			    {% for error in form.hidden.errors %}
			        <strong>{{ error|escape }} </strong>
			    {% endfor %}
			</div>
			{{ form.hidden }}
		</div>
	</div>
	
	<div class="error">
	    {% for error in form.begin.errors %}
	        <strong>{{ error|escape }} </strong>
	    {% endfor %}
	</div>
	{{ form.begin.label_tag }}
	{{ form.begin }}
	
	<div class="error">
	    {% for error in form.end.errors %}
	        <strong>{{ error|escape }} </strong>
	    {% endfor %}
	</div>
	{{ form.end.label_tag }}
	{{ form.end }}
	
	<div id="dynamic_exclude">
		<div class="error">
		    {% for error in form.exclue.errors %}
		        <strong>{{ error|escape }} </strong>
		    {% endfor %}
		</div>
		{{ form.exclude.label_tag }}
		{{ form.exclude }}
    </div>
    
	<p><input id="id_generate_submit" name="generate_submit" type="submit" value="Generuj" /></p>
</form>
</div>
{% endblock %}