{% extends 'base.html' %}

{% block javascript %}
	{{ block.super }}
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="{{ MEDIA_URL }}/js/datepicker.js" ></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$( "#date" ).datepicker($.datepicker.regional['PL'], { changeYear: true, changeMonth: true, dateFormat: "yy-mm-dd" });
			
			$("#date").live('change', function() {
				$.post('/day_graphic/',
					{ date: $(this).val(),
					  office: $('#office option:selected').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
				});
			 	return false;
			 });
			 
			$("#today").submit(function() {
				$.post('/day_graphic/',
					{ date: '0',
					  office: $('#office option:selected').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
				});
			 	return false;
			 });
			 
			 $('#office').change(function() {
			 	$.post('/day_graphic/',
					{ date: $('#date').val(),
					  office: $('#office option:selected').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data);
				});
			 	return false;
			 }); 
			 
		});
	</script>
{% endblock %}

{% block right_column %}
<div id="rezerwacje">
<form id="today">
Data: <input type="text" id="date" value="{{ date }}"/><input type="submit" value="Dziś" id="send_data"/>
</br>Gabinet: <select id="office" name="office">
	{% for o in offices %}
		{% if o.id == office %}
			<option value="{{ o.id }}" selected="selected">{{ o }}</option>
		{% else %}
			<option value="{{ o.id }}">{{ o }}</option>
		{% endif %}
	{% endfor %}
</select>
</form>
<table>
<tr>
	<th>Godzina</th>
	{% for d in dents %}
		<th>{{ d.last_name }} {{ d.first_name }}</th>
	{% endfor %}
</tr>
	{% for a in appoints %}
		<tr>
			{% if a.now_time %}
				<td class="now_time">
			{% else %}
				<td>
			{% endif %}
			{{ a.hour|time:"H:i" }}</td>
			{% for p in a.appoint %}
				{% if p.appoint %}
					{% if p.appoint.is_now == 1 %}
						<td class="appoint_now" 
					{% elif p.appoint.is_now == -1 %}
						<td class="appoint_past" 
					{% else %}
						<td class="appoint_future" 
					{% endif %}
					rowspan="{{ p.length }}">
					<a href = "{% url views.update_profile %}{{ p.appoint.patient.id }}">
						{{ p.appoint.patient.last_name }} {{ p.appoint.patient.first_name }}
					</a></td>
				{% elif p.length > 0 %}
				{% else %}
					<td></td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %} 
</table>
</div>
{% endblock %}