{% extends 'base.html' %}
{% load group_filter %}
{% load i18n %}

{% block javascript %}
	{{ block.super }}
	
	<script>
	$(document).ready(function() {	
		
		$('#{{ request.session.sort2 }}').attr('checked', 'checked');
		
		 $("#id_office").change(function() {
			$.post('/dentist_register/?type=ajax',
			{ office: $(this).val(),
			  type: $('#id_type').val(),
			  month: $('#month2').attr('class'),
			  year: {{ year }},
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#content').html(data); 
			});
		 	return false;
		 });
		 
		 $("input[name=dentist]").change(function() {
		 	{% if request.session.sort2 == '0' %}
		 		$.post('/dentist_register/?type=ajax',
				{ office: $('#id_office').val(),
				  dentist: $("input[name=dentist]:checked").val(),
				  type: $('#id_type').val(),
				  month: $('#month2').attr('class'),
				  year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				function(data) { 
					$('#content').html(data); 
				});
		 	{% else %}
		 		$.post('/dentist_register/?type=ajax',
				{ office: $('#id_office').val(),
				  dentist: $("input[name=dentist]:checked").val(),
				  date: $('input[name=date]:checked').val(),
				  type: $('#id_type').val(),
				  month: $('#month2').attr('class'),
				  year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				function(data) { 
					$('#content').html(data); 
				});
		 	{% endif %}
			
		 	return false;
		 });
		 
		 $("input[name=date]").change(function() {
		 	{% if request.session.sort2 == '1' %}
		 		$.post('/dentist_register/?type=ajax',
				{ office: $('#id_office').val(),
				  date: $('input[name=date]:checked').val(),
				  type: $('#id_type').val(),
				  month: $('#month2').attr('class'),
				  year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				function(data) { 
					$('#content').html(data); 
				});
		 	{% else %}
		 		$.post('/dentist_register/?type=ajax',
				{ office: $('#id_office').val(),
				  dentist: $('input[name=dentist]:checked').val(),
				  date: $('input[name=date]:checked').val(),
				  type: $('#id_type').val(),
				  month: $('#month2').attr('class'),
				  year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				function(data) { 
					$('#content').html(data); 
				});
		 	{% endif %}
		 	return false;
		 });
		 
		 $("#id_type").change(function() {
			$.post('/dentist_register/?type=ajax',
			{ office: $('#id_office').val(),
			  dentist: $('input[name=dentist]:checked').val(),
			  date: $('input[name=date]:checked').val(),
			  month: $('#month2').attr('class'),
			  year: {{ year }},
			  type: $(this).val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#content').html(data); 
			});
		 	return false;
		 });
		 
		 $('input[name=sort]').change(function() {
		 	$.post('/dentist_register/?type=ajax',
			{ office: $('#id_office').val(),
			  sort: $('input[name=sort]:checked').val(),
			  month: $('#month2').attr('class'),
			  year: {{ year }},
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#content').html(data); 
			});
		 	return false;
		 });
		 
		 $('#prev').click(function() {
		 	var month = $('#month2').attr('class')-1;
		 	var year = {{ year }};
			if(month == 0) {
				month = 12;
				year = year -1;
			}
		 	$.post('/dentist_register/?type=ajax',
			{ office: $('#id_office').val(),
			  type: $('#id_type').val(),
			  dentist: $('input[name=dentist]:checked').val(),
			  month: month,
			  year: year,
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			  function(data) { 
				$('#content').html(data);
			});

		 	return false;
		 });
		 
		 $('#next').click(function() {
		 	var month = $('#month2').attr('class')-1+2;
		 	var year = {{ year }};
			if(month == 13) {
				month = 1;
				year = year - 1 + 2;
			}
		 	$.post('/dentist_register/?type=ajax',
			{ office: $('#id_office').val(),
			  type: $('#id_type').val(),
			  dentist: $('input[name=dentist]:checked').val(),
			  month: month,
			  year: year,
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			  function(data) { 
				$('#content').html(data);
			});

		 	return false;
		 });
		 
		 {% if form.date.errors %}
		 	$('.date_options').css('height', '315');
		 {% endif %}
		 {% if form.dentist.errors %}
		 	$('.opcje2').css('height', '315');
		 {% endif %}
		 {% if form.appoint.errors %}
		 	$('.opcje').css('height', '315');
		 {% endif %}
	});
	</script>
{% endblock %}

{% block header %}
	Rejestracja wizyty
{% endblock %}

{% block right_column %}
<div id="rejestracja">
<div id="register_form">
	<p align="left">W pierwszej kolejności wybieraj: 
		<input type="radio" name="sort" value="0" id="0">dentystę
		<input type="radio" name="sort" value="1" id="1">datę
	</p>
	<form action="{% url views.dentist_register %}" method="post"> {% csrf_token %}
		{% if form.non_field_errors %}
	       	<div class="error">
			    {% for error in form.non_field_errors %}
			        <strong>{{ error|escape }} </strong>
				{% endfor %}
			</div>
		{% endif %}
		
		<div class="select_box">
	     	<div class="select_label">
	     		{{form.office.label_tag }}
	     	</div>
	     	<div class="select_options">
	     		{{form.office}}
	     	</div>
	    </div>
	    
	    <div class="select_box">
	         <div class="select_label">
	         	{{form.type.label_tag }}
	         </div>
	         <div class="select_options">
	         	{{form.type}}
	         </div>
	     </div>
	    
	     <div id="typ1_box">
		     {% if request.session.sort2 == '0' %}
		         
		         <div class="typ_1">
			         <div class="error">
					    {% for error in form.dentist.errors %}
					        <strong>{{ error|escape }} </strong>
					    {% endfor %}
					 </div>
			         <div id="dentist_lab" class="rej_tytul">
			         	{{form.dentist.label_tag }}
			         </div>
			         <div class="opcje2">
			         	{{form.dentist}}
			         </div>
		         </div>
		     {% endif %}
		     
		     <div id="date">
		     	<div class="error">
				    {% for error in form.date.errors %}
				        <strong>{{ error|escape }} </strong>
				    {% endfor %}
				</div>
		     	<div class="rej_tytul">
		     		{{form.date.label_tag }}
		     	</div>
		     	<div id="month">
		     		<div id="prev" class="button6"><</div>
		     		<div id="month2" class="{{ month }}">{{ month|month_name }} {{ year }}</div>
		     		<div id="next" class="button6" style="clear: right">></div>
		     	</div>	
		     	<div class="date_options">
		     		{{form.date}}
		     	</div>
		     </div>
		     
		     {% if request.session.sort2 == '1' %}
		     	<div class="typ_1">
		     		<div class="error">
					    {% for error in form.dentist.errors %}
					        <strong>{{ error|escape }} </strong>
					    {% endfor %}
					</div>
		         	<div class="rej_tytul">
		         		{{form.dentist.label_tag }}
		         	</div>
		         	<div class="opcje2">
		         		{{form.dentist}}
		         	</div>
		     	</div>
		     {% endif %}
		     
		     <div class="typ_2">
		     	<div class="error">
				    {% for error in form.appoint.errors %}
				        <strong>{{ error|escape }} </strong>
				    {% endfor %}
				 </div>
			     <div class="rej_tytul">
			     	{{form.appoint.label_tag }}
			     </div>
			     <div class="opcje">
			     	{{form.appoint}}
			     </div>
		     </div>
		</div>
	    
		<p><input id="send_log_rejestracja" type="submit" value="Zarejestruj" /></p>
	</form>
</div>			
</div>
{% endblock %}