{% extends 'base.html' %}
{% load group_filter %}

{% block right_column %}

	{% for d in dentists %}
		<div class="office_name">
			<a name="{{ d.dentist.id }}" style="border-bottom:none">
				<strong>{{ d.dentist.last_name }} {{ d.dentist.first_name }}
			</a>
			{% if d.dentist.title %}
				, {{ d.dentist.title }}
			{% endif %}</strong>
		</div>
		{% if d.dentist.phone %}Telefon: {{ d.dentist.phone }}<br />{% endif %}
		{% if d.dentist.description %}{{ d.dentist.description }}<br />{% endif %}
		Pracuje w:
		<div class="dentists">
			{% for o in d.offices %}
				<a href="{% url views.offices %}#{{ o.office.id }}">{% if o.office.name %}{{ o.office.name }}, {% endif %}{{ o.office.address }}</a>
				{% for h in o.hours %}
					{% if forloop.first %}({% endif %}{{ h.week_day|day }}
					{{ h.begin|time:'H:i' }}-{{ h.end|time:'H:i' }}{% if forloop.counter != o.hours.count %}, {% else %}){% endif %}
				{% endfor %}
				<br />
			{% endfor %}
		</div>
	{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if dentists.has_previous %}
            <a href="?page={{ dentists.previous_page_number }}"><b>< Poprzednia</b></a>
        {% endif %}

        <span class="current">
            Strona <b>{{ dentists.number }}</b> z <b>{{ dentists.paginator.num_pages }}</b>
        </span>

        {% if dentists.has_next %}
            <a href="?page={{ dentists.next_page_number }}"><b>Następna ></b></a>
        {% endif %}
    </span>
</div>
{% endblock %}