{% extends 'base.html' %}
{% load group_filter %}

{% block javascript %}
	{{ block.super }}
	
	<script>
	$(document).ready(function() {
		
		$("#id_pat").keyup(function() {
			var dent = $('input[name=dentist]:checked').val();
			var date = $('input[name=date]:checked').val();
			
			if (dent == undefined) {
				$.post('/dentist_register3/?type=ajax',
				{ pat: $(this).val(),
				  office: $('#id_office').val(),
				  month: $('#month2').attr('class'),
			  	  year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				function(data) { 
					$('#pat').html($(data).find('#pat').html());
				});
			} else if(date == undefined) {
				$.post('/dentist_register3/?type=ajax',
				{ pat: $(this).val(),
				  office: $('#id_office').val(),
				  dentist: $('input[name=dentist]:checked').val(),
				  month: $('#month2').attr('class'),
			  	  year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				function(data) { 
					$('#pat').html($(data).find('#pat').html());
				});
			} else {
				$.post('/dentist_register3/?type=ajax',
				{ pat: $(this).val(),
				  office: $('#id_office').val(),
				  dentist: $('input[name=dentist]:checked').val(),
				  date: $('input[name=date]:checked').val(),
				  month: $('#month2').attr('class'),
			      year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				function(data) { 
					$('#pat').html($(data).find('#pat').html()); 
				});
			}
		 	
		 	return false;
		 });
		 			
		 $("#id_office").change(function() {
		 	$('body').addClass("loading");
			$.post('/dentist_register3/?type=ajax',
			{ office: $(this).val(),
			  pat: $("#id_pat").val(),
			  patients: $("input[name=patients]:checked").val(),
			  month: $('#month2').attr('class'),
			  year: {{ year }},
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#content').html(data);
				$('body').removeClass("loading"); 
			});
		 	return false;
		 });
		 
		 $("input[name=dentist]").change(function() {
		 	$('body').addClass("loading");
			$.post('/dentist_register3/?type=ajax',
			{ office: $('#id_office').val(),
			  dentist: $(this).val(),
			  pat: $("#id_pat").val(),
			  patients: $("input[name=patients]:checked").val(),
			  month: $('#month2').attr('class'),
			  year: {{ year }},
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#content').html(data);
				$('body').removeClass("loading");
			});
		 	return false;
		 });	 
		 
		 $('#prev').click(function() {
		  {% if not no_back %}
		  	$('body').addClass("loading");
		 	var month = $('#month2').attr('class')-1;
		 	var year = {{ year }};
			if(month == 0) {
				month = 12;
				year = year -1;
			}
		 	$.post('/dentist_register3/?type=ajax',
			{ office: $('#id_office').val(),
			  type: $('#id_type').val(),
			  dentist: $('input[name=dentist]:checked').val(),
			  month: month,
			  year: year,
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			  function(data) { 
				$('#content').html(data);
				$('body').removeClass("loading");
			});
		  {% endif %}
		 	return false;
		 });
		 
		 $('#next').click(function() {
		 	$('body').addClass("loading");
		 	var month = $('#month2').attr('class')-1+2;
		 	var year = {{ year }};
			if(month == 13) {
				month = 1;
				year = year - 1 + 2;
			}
		 	$.post('/dentist_register3/?type=ajax',
			{ office: $('#id_office').val(),
			  type: $('#id_type').val(),
			  dentist: $('input[name=dentist]:checked').val(),
			  month: month,
			  year: year,
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			  function(data) { 
				$('#content').html(data);
				$('body').removeClass("loading");
			});

		 	return false;
		 });
		 
		 {% if form.patients.errors %}
		 	$('.opcje3').css('height', '345');
		 {% endif %}
		 {% if form.date.errors %}
		 	$('.date_options').css('height', '315');
		 {% endif %}
		 {% if form.dentist.errors %}
		 	$('.opcje2').css('height', '345');
		 {% endif %}
		 
		 {% if no_back %}
		 	$('#prev').css('color', 'gray');
		 {% endif %}
	});
	</script>
{% endblock %}

{% block header %}
	Rejestracja pacjenta na nadprogramowy termin
{% endblock %}

{% block right_column %}
<div id="rejestracja">
<div id="register_form">
<form action="{% url views.dentist_register3 %}" method="post"> {% csrf_token %}
	{% if form.non_field_errors %}
       	<div class="error">
		    {% for error in form.non_field_errors %}
		        <strong>{{ error|escape }} </strong>
			{% endfor %}
		</div>
	{% endif %}
	
	<div class="input_box">
		<div class="select_label">
			{{form.pat.label_tag}}
		</div>
		<div class="input_options">
			{{form.pat}}
		</div>
	</div>
	
    <div class="select2_box">
        <div class="select_label">
        	{{form.office.label_tag}}
		</div>
		<div class="select_options">
			{{form.office}}
		</div>
	</div>

    <div id="typ1_box">
	    
	    <div class="typ_3">
		    <div class="rej_tytul">
		    	{{form.patients.label_tag}}
			</div>
			<div class="error">
				{% for error in form.patients.errors %}
			        <strong>{{ error|escape }} </strong>
			    {% endfor %}
			</div>
			<div class="opcje3">
				<div id="pat">
					{{form.patients}}
				</div>
			</div>
		</div>
		
	     <div class="typ_1">
		     <div class="rej_tytul">
		     	{{form.dentist.label_tag}}
			 </div>
			 <div class="error">
				{% for error in form.dentist.errors %}
			        <strong>{{ error|escape }} </strong>
			    {% endfor %}
			</div>
			 <div class="opcje2">
			 	{{form.dentist}}
			 </div>
		 </div>
	     
	     <div id="date">
		     <div class="rej_tytul">
		     	{{form.date.label_tag}}
		     </div>
			 <div id="month">
	     		<div id="prev" class="button6"><</div>
	     		<div id="month2" class="{{ month }}">{{ month|month_name }} {{ year }}</div>
	     		<div id="next" class="button6" style="clear: right">></div>
	     	 </div>
	     	 <div class="error">
				{% for error in form.date.errors %}
			        <strong>{{ error|escape }} </strong>
			    {% endfor %}
			 </div>
			 <div class="date_options">
			 	{{form.date}}
			 </div>
		 </div>
		 
    </div>
	<p><input id="send_log_rejestracja" type="submit" value="Zarejestruj" /></p>
</form>
</div>
</div>
{% endblock %}