{% extends 'base.html' %}

{% block right_column %}

	{% for d in dentists %}
		<a name="{{ d.dentist.id }}"><strong>{{ d.dentist.last_name }} {{ d.dentist.first_name }}</a>
		{% if d.dentist.title %}
			, {{ d.dentist.title }}
		{% endif %}</strong><br />
		{% if d.dentist.phone %}Kontakt: {{ d.dentist.phone }}<br />{% endif %}
		{% if d.dentist.description %}{{ d.dentist.description }}<br />{% endif %}
		Pracuje w:<br />
		{% for o in d.offices %}
			<a href="{% url views.offices %}#{{ o.office.id }}">{% if o.office.name %}{{ o.office.name }}, {% endif %}{{ o.office.address }}:</a><br>
			{% for h in o.hours %}
				{% if h.week_day == 1 %}pon
				{% elif h.week_day == 2 %}wt
				{% elif h.week_day == 3 %}śr
				{% elif h.week_day == 4 %}czw
				{% elif h.week_day == 5 %}pt
				{% elif h.week_day == 6 %}so
				{% elif h.week_day == 7 %}nd
				{% endif %} {{ h.begin|time:'H:i' }}-{{ h.end|time:'H:i' }}<br />
			{% endfor %}
		{% endfor %}
		<br />
	{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if dentists.has_previous %}
            <a href="?page={{ dentists.previous_page_number }}">Poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ dentists.number }} z {{ dentists.paginator.num_pages }}
        </span>

        {% if dentists.has_next %}
            <a href="?page={{ dentists.next_page_number }}">Następna</a>
        {% endif %}
    </span>
</div>
{% endblock %}