{% extends 'base.html' %}

{% block javascript %}
	{{ block.super }}
	
	<script>
	$(document).ready(function() {
					
		 $("#id_office").change(function() {
			$.post('/dentist_register2/?type=ajax',
			{ office: $(this).val(),
			  pat: $("#id_pat").val(),
			  patients: $("input[name=patients]:checked").val(),
			  type: $('#id_type').val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#content').html(data); 
			});
		 	return false;
		 });
		 
		 $("input[name=dentist]").change(function() {
			$.post('/dentist_register2/?type=ajax',
			{ office: $('#id_office').val(),
			  dentist: $(this).val(),
			  type: $('#id_type').val(),
			  pat: $("#id_pat").val(),
			  patients: $("input[name=patients]:checked").val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#content').html(data); 
			});
		 	return false;
		 });
		 
		 $("input[name=date]").change(function() {
			$.post('/dentist_register2/?type=ajax',
			{ office: $('#id_office').val(),
			  dentist: $('input[name=dentist]:checked').val(),
			  date: $(this).val(),
			  type: $('#id_type').val(),
			  pat: $("#id_pat").val(),
			  patients: $("input[name=patients]:checked").val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#content').html(data); 
			});
		 	return false;
		 });
		 
		 $("#id_type").change(function() {
			$.post('/dentist_register2/?type=ajax',
			{ office: $('#id_office').val(),
			  dentist: $('input[name=dentist]:checked').val(),
			  date: $('input[name=date]:checked').val(),
			  type: $(this).val(),
			  pat: $("#id_pat").val(),
			  patients: $("input[name=patients]:checked").val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#content').html(data); 
			});
		 	return false;
		 });
		 
		 
	});
	</script>
{% endblock %}

{% block right_column %}
<div id="rejestracja">
<form action="{% url views.dentist_register2 %}" method="post"> {% csrf_token %}
	{% if form.non_field_errors %}
       	<div class="error">
		    {% for error in form.non_field_errors %}
		        <strong>{{ error|escape }} </strong>
			{% endfor %}
		</div>
	{% endif %}
	
	
		<div class="fieldWrapper">
	        {% if field.errors %}
	        	<div class="error">
			    {% for error in field.errors %}
			        <strong>{{ error|escape }} </strong>
			    {% endfor %}
			    </div>
			{% endif %}
			<div class="typ_1"><div class="rej_tytul">{{form.pat.label_tag}} </div><div class="opcje">{{form.pat}}</div></div>
	        <div class="typ_1">
	         	<div class="error">
					{% for error in form.patients.errors %}
				        <strong>{{ error|escape }} </strong>
				    {% endfor %}
				</div>
	         	<div class="rej_tytul">{{form.patients.label_tag}} </div><div class="opcje"><div id="pat">{{form.patients}}</div></div></div>
			<div class="typ_1"><div class="rej_tytul">{{form.office.label_tag}} </div><div class="opcje">{{form.office}}</div></div>
	         <div class="typ_1">
	         	<div class="error">
					{% for error in form.dentist.errors %}
				        <strong>{{ error|escape }} </strong>
				    {% endfor %}
				</div>
	         	<div class="rej_tytul">{{form.dentist.label_tag}} </div><div class="opcje">{{form.dentist}}</div></div>
	         <div class="typ_1">
	         	<div class="error">
					{% for error in form.date.errors %}
				        <strong>{{ error|escape }} </strong>
				    {% endfor %}
				</div>
	         	<div class="rej_tytul">{{form.date.label_tag}} </div><div class="opcje">{{form.date}}</div></div>
	         <div class="typ_1"><div class="rej_tytul">{{form.type.label_tag}} </div><div class="opcje">{{form.type}}</div></div>
	         <div class="typ_1">
	         	<div class="error">
					{% for error in form.appoint.errors %}
				        <strong>{{ error|escape }} </strong>
				    {% endfor %}
				</div>
	         	<div class="rej_tytul">{{form.appoint.label_tag}} </div><div class="opcje">{{form.appoint}}</div></div>
	    </div>
    
    
	<p><input id="send_log_rejestracja" type="submit" value="Zarejestruj" /></p>
</form>
</div>

<script>
	$(document).ready(function() {
		$("#id_pat").keyup(function() {
			var dent = $('input[name=dentist]:checked').val();
			var date = $('input[name=date]:checked').val();
			
			if (dent == undefined) {
				$.post('/dentist_register2/?type=ajax',
				{ pat: $(this).val(),
				  office: $('#id_office').val(),
				  type: $('#id_type').val(),
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				function(data) { 
					var start = data.indexOf('id="pat"')+9;
					var end = data.indexOf('</div></div></div>');
					var html = data.slice(start, end);
					$('#pat').html(html);
				});
			} else if(date == undefined) {
				$.post('/dentist_register2/?type=ajax',
				{ pat: $(this).val(),
				  office: $('#id_office').val(),
				  type: $('#id_type').val(),
				  dentist: $('input[name=dentist]:checked').val(),
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				function(data) { 
					var start = data.indexOf('id="pat"')+9;
					var end = data.indexOf('</div></div></div>');
					var html = data.slice(start, end);
					$('#pat').html(html);
				});
			} else {
				$.post('/dentist_register2/?type=ajax',
				{ pat: $(this).val(),
				  office: $('#id_office').val(),
				  type: $('#id_type').val(),
				  dentist: $('input[name=dentist]:checked').val(),
				  date: $('input[name=date]:checked').val(),
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				function(data) { 
					var start = data.indexOf('id="pat"')+9;
					var end = data.indexOf('</div></div></div>');
					var html = data.slice(start, end);
					$('#pat').html(html); 
				});
			}
		 	
		 	return false;
		 });
	});
</script>
{% endblock %}