{% extends 'base.html' %}

{% block javascript %}
{{ block.super }}

<script>
	$(document).ready(function() {
		 $("input[name=pat]").keyup(function() {
			$.post('/patient_user/',
			{ pat: $(this).val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#patient_list').html($(data).find('#patient_list').html());
			});
		 	
		 	return false;
		 });
	});
</script>
{% endblock %}

{% block header %}
	Połączenie karty pacjenta z kontem użytkownika
{% endblock %}

{% block right_column %}
<div id="forms">
<form action="/patient_user/" method="post"> {% csrf_token %}
	{{ form.pat.label_tag }} {{ form.pat }}
	
	<div class="error">
		{% for error in form.login.errors %}
	        <strong>{{ error|escape }} </strong>
	    {% endfor %}
	</div>
	{{ form.login.label_tag }} {{ form.login }}
	
	<div class="error">
		{% for error in form.patients.errors %}
	        <strong>{{ error|escape }} </strong>
	    {% endfor %}
	</div>
	<div id="patient_list">
		{{ form.patients.label_tag }} 
		<div id="patients_account">
			{{ form.patients }}
		</div>
	</div>
	
	<div class="napraw"></div>
	
	<input id="send_log_big" type="submit" value="Zapisz" />
</form>
</div>
{% endblock %}