{% extends 'base.html' %}
{% load group_filter %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.maphilight.min.js"></script>
	
	<script>	
		$(document).ready(function() {
			$('.tooth_loss').hide();
			$('#gora').hide();
			$('#tooth_loss').hide();
			$('#tooth_losses').hide();
			
			$('#form_patient_edit').hide();
			$('#ok_description').hide();
			$("#cancel_description").hide();
			$(".app_form_edit").hide();
			
			{% if not appointment.is_now %}
				$('#is_in img').attr('src', '{{ MEDIA_URL }}/img/is_in.jpg');
				$('#is_end').html('Wizyta nierozpoczęta');
				$('#actual').hide();
			{% endif %}
			
			{% if appointment.is_now == 1 %}
				$('#is_in img').attr('src', '{{ MEDIA_URL }}/img/is_out.png');
				$('#is_in').attr('id', 'is_out');
				$('#is_end').html('Wizyta trwa');
			{% endif %}
			
			{% if appointment.is_now == -1 %}
				$('#is_end').html('Wizyta zakończona');
				$('#is_in').hide();
			{% endif %}
			
			$('.app').click(function() {
				id = '#appoint_' + $(this).attr('id');
				$(id).toggle();
			});
			
			$('.app2').click(function() {
				id = '#appoint2_' + $(this).attr('id');
				$(id).toggle();
			});
			
			$('#patient_edit').click(function() {
				$('#form_patient_edit').show();
			});
			
			$('#cancel_patient').click(function() {
				$('#form_patient_edit').hide();
			});
			
			$("#ok_patient").click(function() {
				$.post('/patient_card_dentist/',
					{ patient_comment: $('#patient_comment').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
				});
			 	return false;
			 });
			 
			 $("#is_in").click(function() {
				$.post('/patient_card_dentist/',
					{ is_now: 1,
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
						$('#is_in img').attr('src', '{{ MEDIA_URL }}/img/is_out.png');
						$('#is_in').attr('id', 'is_out');
						$('#is_end').html('Wizyta trwa');
						$('#actual').show();
				});
			 	return false;
			 });
			 
			 $("#is_out").click(function() {
				$.post('/patient_card_dentist/',
					{ is_now: -1,
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
						$('#is_out').hide();
						$('#is_end').html('Wizyta zakończona');
				});
			 	return false;
			 });
			 
			 $("#back").click(function() {
			 
				$.post('{{ graphic }}',
					{ date: '{{ date }}',
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						window.location = '{{ graphic }}'; 
				});
			 	return false;
			 });
			 
			 $("#form_appointment_edit").keyup(function() {
			 	$("#ok_description").show();
			 	$("#cancel_description").show();
			 });
			 
			 $("#ok_description").click(function() {
				$.post('/patient_card_dentist/',
					{ appointment_description: $('#form_appointment_edit').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
				});
			 	return false;
			 });
			 
			 $('#cancel_description').click(function() {
			 	$('#ok_description').hide();
				$("#cancel_description").hide();
				$('#form_appointment_edit').load('/patient_card_dentist/ $form_appointment_edit');
			 });
			 
			 $('.app_edit').click(function() {
			 	id = $(this).attr('id');
			 	$('#app_form_edit_'+id).show();
			 });
			 
			 $('.app_edit2').click(function() {
			 	id = $(this).attr('id');
			 	$('#app_form_edit2_'+id).show();
			 });
			 
			 $('.cancel_app').click(function() {
			 	id = $(this).attr('name');
				$('#app_form_edit_'+id).hide();
				$('#app_form_edit2_'+id).hide();
			});
			
			$(".ok_app").click(function() {
				id = $(this).attr('name');
				$.post('/patient_card_dentist/',
					{ app_desc: $('#app_desc_'+id).val(),
					  app: id,
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
				});
			 	return false;
			 });
			 
			 $(".ok_app2").click(function() {
				id = $(this).attr('name');
				$.post('/patient_card_dentist/',
					{ app_desc: $('#app_desc2_'+id).val(),
					  app: id,
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
				});
			 	return false;
			 });
			 
			 $('#id_tooth').live('change', function() {
			 	$.post('/patient_card_dentist/',
					{ tooth: $('#id_tooth').val(),
					  tooth_part: '1',
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#tooth_loss').html($(data).find('#tooth_loss').html()); 
						$('#tooth_losses').html($(data).find('#tooth_losses').html()); 
				});
			 	return false;
			 });
			 
			 $('#id_tooth_part').live('change', function() {
			 	$.post('/patient_card_dentist/',
					{ tooth: $('#id_tooth').val(),
					  tooth_part: $('#id_tooth_part').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#tooth_loss').html($(data).find('#tooth_loss').html()); 
						$('#tooth_losses').html($(data).find('#tooth_losses').html());  
				});
			 	return false;
			 });
			 
			 $('#tooth_ok').live('click', function() {

			 	$.post('/patient_card_dentist/',
					{ tooth: $('#id_tooth').val(),
					  tooth_part: $('#id_tooth_part').val(),
					  loss_type: $('#id_loss_type').val(),
					  comment: $('#id_description').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#tooth_loss').hide();
						$('#gora').hide();
						$('#tooth_losses').hide();
						$('#appoint_losses').html($(data).find('#appoint_losses').html());
						$('area').attr('color', 'ffffff');
    		
    					window.location = "/patient_card_dentist/"					
				});
			 	return false;
			 });
			 
			 $('#tooth_cancel').live('click', function() {
			 	$('#tooth_loss').hide();
			 	$('#gora').hide();
			 });
			 
		});
	</script>
{% endblock %}

{% block header %}
	Karta pacjenta <strong>{{ patient.last_name }} {{ patient.first_name }}</strong>
{% endblock %}

{% block right_column %}
	<input type="submit" value="Powrót do grafiku" id="back" />

	<div id="is_in"><img></div>
	<div id="is_end"></div>
	
	<div id="dane_pacjenta" style="clear: both">
		<table>
			<tr><th width="100px">PESEL</th><th width="200px">Adres</th><th width="200px">Choroby</th><th colspan="2">Komentarz</th></tr>
			<tr>
				<td>{{ patient.PESEL }}</td>
				<td>{{ patient.address }}</td>
				<td class="left">
				{% for d in patient.patient_diseases_set.all %}
					- {{ d.disease }} ({{ d.date|date:'Y-m-d' }}){% if forloop.counter != patient.patient_diseases_set.all.count %},</br> {% endif %}
				{% endfor %}
				</td>
				<td class="left">{% if patient.comment %}{{ patient.comment|linebreaksbr }}{% endif %}</td>
				<td width="100px"><div class="edit_patient" id="patient_edit">Edytuj</div></td>
			</tr>
		</table>
	</div>
		
	<div id="form_patient_edit">
		Komentarz do pacjenta:<br />
		<textarea id="patient_comment" cols="50" rows="4">{% if patient.comment %}{{ patient.comment }}{% endif %}</textarea><br />
		<center><input class="button5" type="submit" id="cancel_patient" value="Anuluj"/>
		<input class="button5" type="submit" id="ok_patient" value="Zapisz"/></center>
	</div>


	<div class="appoint">
		<div class="appointment">
		<br />
		<strong>Ostatnia wizyta:</strong>
			<table>
				<tr>
					<th width="100px">Data</th><th width="120px">Termin</th><th width="150px">Typ wizyty</th><th width="160px">Dentysta</th><th>Opis</th><th width="150px" colspan="2"></th>
				</tr>
				{% with appoints|first as a %}
					<tr>
						<td>{{ a.date|date:'Y-m-d' }}</td>
						<td>{% if a.untimely|is_false %}{{ a.hour|time:'H:i' }}, {{ a.appointment_type.length }} minut<br />{% endif %}</td>
						<td class="left">{% if a.untimely|is_false %}{{ a.appointment_type.type }}{% endif %}</td>
						<td class="left">{{ a.dentist.last_name }} {{ a.dentist.first_name }}</td>
						<td class="left">{% if a.description %}{{ a.description|linebreaksbr }}{% endif %}</td>
						<td class="app2" id="{{ a.id }}" width="80px"><div class="edit_patient">Szczegóły</div></td>
						{% if a.dentist.user == request.user %}
							<td id="{{ a.id }}" class="app_edit2" width="70px">
								<div class="edit_patient">Edytuj</div>
							</td>
						{% else %}
							<td width="70px"></td>
						{% endif %}
					</tr>
					<tr>
						<td colspan="7" id="app_form_edit2_{{ a.id }}" class="app_form_edit">
							Opis wizyty:<br />
							<textarea id="app_desc2_{{ a.id }}" cols="50" rows="4" style="float:left; margin-left: 200px">{% if a.description %}{{ a.description }}{% endif %}</textarea>	
							<input type="submit" class="cancel_app button5" value="Anuluj" name="{{ a.id }}"/><br /><br />
							<input type="submit" class="ok_app2 button5" value="Zapisz" name="{{ a.id }}"/>
							
						</td>
					</tr>
					<tr id="appoint2_{{ a.id }}" class="tooth_loss">
						<td colspan="7">
							{% if a.tooth_loss_set.all %}
								<table>
									<tr>
										<th width="300px">Ząb</th><th width="150px">Rozpoznanie</th><th>Komentarz</th>
									</tr>
									{% for t in a.tooth_loss_set.all|order_by:'tooth' %}
										<tr>
											<td class="left">{{ t.tooth }}/{{ t.tooth_part.name }}</td>
											<td class="left">{% if t.loss_type %}{{ t.loss_type }}{% endif %}</td>
											<td class="left">{% if t.comment %}{{ t.comment|linebreaksbr }}{% endif %}</td>
										</tr>
									{% endfor %}
								</table>
							{% else %}
								Brak szczegółów przypisanych do wizyty.
							{% endif %}
						</td>
					</tr>	
				{% endwith %}
			</table>
		</div>
	</div>
	


	<div id="gora">
		<table id="tooth_loss">
			<tr>
				<th colspan="2" style="text-align:center; border-bottom: 1px solid">Edycja zęba</th>
			</tr>
			{{ form }}
			<tr>
				<td colspan="2"><center><input type="submit" value="Anuluj" id="tooth_cancel" class="button2" />
				<input type="submit" value="Zapisz" id="tooth_ok" class="button2" /></center></td>
			</tr>
		</table>
	</div>

	<div id="dol">
	{% include 'teeth.html' with link="/patient_card_dentist/" losses_all=losses_all appointment=appointment %}
	</div>
	
	<div id="srodek">
		{% if losses.count > 0 %}
		<div id="tooth_losses">
			<strong>Historia zabiegu:</strong>
			<table>
				<tr>
					<th width="300px">Ząb</th><th width="100px">Data</th><th width="150px">Rozpoznanie</th><th>Komentarz</th>
				</tr>
				{% for l in losses %}
					<tr>
						{% if forloop.first %}<td rowspan="{{ losses.count }}">{{ l.tooth }}/{{ l.tooth_part }}</td>{% endif %}
			 			<td>{{ l.appointment.date|date:'Y-m-d' }}</td>
			 			<td class="left">{{ l.loss_type }}</td>
			 			<td class="left">{{ l.comment|linebreaksbr }}</td>
			 		</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}
		
		<div id="actual">
		<div id="now_visit">
			<strong>Aktualna wizyta:</strong>
			<table>
				<tr>
					<th width="100px">Data</th><th width="120px">Termin</th><th width="150px">Typ wizyty</th><th>Opis</th>
				</tr>
				<tr>
					<td>{{ appointment.date|date:'Y-m-d' }}</td>
					<td>{% if appointment.untimely|is_false %}{{ appointment.hour|time:'H:i' }}, {{ appointment.appointment_type.length }} minut{% endif %}</td>
					<td>{% if appointment.untimely|is_false %}{{ appointment.appointment_type.type }}{% endif %}</td>
					<td> 
						<textarea id="form_appointment_edit" cols="50" rows="4" style="float:left">{% if appointment.description %}{{ appointment.description }}{% endif %}
						</textarea>
						<input type="submit" id="ok_description" class="button5 description_action" value="Zapisz"/>
						<input type="submit" id="cancel_description" class="button5 description_action" value="Cofnij"/>
					</td>
				</tr>
			</table>
		</div>
		
		<div id="appoint_losses">
			{% if appointment.tooth_loss_set.all.count > 0 %}
				<strong>Zmiany na diagramie uzębienia:</strong>
				<table>
				<tr>
					<th width="300px">Ząb</th><th width="200px">Rozpoznanie</th><th>Komentarz</th>
				</tr>
				{% for t in appointment.tooth_loss_set.all|order_by:'tooth' %}
				<tr>
					<td class="left">{{ t.tooth }}/{{ t.tooth_part.name }}</td>
					<td class="left">{% if t.loss_type %}{{ t.loss_type.type }}{% endif %}</td>
					<td class="left">{% if t.comment %}{{ t.comment|linebreaksbr }}{% endif %}</td>
				</tr>
				{% endfor %}
				</table>
			{% endif %}
		</div>
		</div>
		
	<div class="appointment">
		<strong>Wizyty:</strong>
	</div>
	
	<div class="appoint">
		<div class="appointment">
			<table>
				<tr>
					<th width="100px">Data</th><th width="120px">Termin</th><th width="150px">Typ wizyty</th><th width="160px">Dentysta</th><th>Opis</th><th width="150px" colspan="2"></th>
				</tr>
				{% for a in appoints %}
					<tr>
						<td>{{ a.date|date:'Y-m-d' }}</td>
						<td>{% if a.untimely|is_false %}{{ a.hour|time:'H:i' }}, {{ a.appointment_type.length }} minut<br />{% endif %}</td>
						<td class="left">{% if a.untimely|is_false %}{{ a.appointment_type.type }}{% endif %}</td>
						<td class="left">{{ a.dentist.last_name }} {{ a.dentist.first_name }}</td>
						<td class="left">{% if a.description %}{{ a.description|linebreaksbr }}{% endif %}</td>
						<td class="app" id="{{ a.id }}" width="80px"><div class="edit_patient">Szczegóły</div></td>
						{% if a.dentist.user == request.user %}
							<td id="{{ a.id }}" class="app_edit" width="70px">
								<div class="edit_patient">Edytuj</div>
							</td>
						{% else %}
							<td width="70px"></td>
						{% endif %}
					</tr>
					<tr>
						<td colspan="7" id="app_form_edit_{{ a.id }}" class="app_form_edit">
							Opis wizyty:<br />
							<textarea id="app_desc_{{ a.id }}" cols="50" rows="4" style="float:left; margin-left: 200px">{% if a.description %}{{ a.description }}{% endif %}</textarea>	
							<input type="submit" class="cancel_app button5" value="Anuluj" name="{{ a.id }}"/><br /><br />
							<input type="submit" class="ok_app button5" value="Zapisz" name="{{ a.id }}"/>
							
						</td>
					</tr>
					<tr id="appoint_{{ a.id }}" class="tooth_loss">
						<td colspan="7">
							{% if a.tooth_loss_set.all %}
								<table>
									<tr>
										<th width="300px">Ząb</th><th width="150px">Rozpoznanie</th><th>Komentarz</th>
									</tr>
									{% for t in a.tooth_loss_set.all|order_by:'tooth' %}
										<tr>
											<td class="left">{{ t.tooth }}/{{ t.tooth_part.name }}</td>
											<td class="left">{% if t.loss_type %}{{ t.loss_type }}{% endif %}</td>
											<td class="left">{% if t.comment %}{{ t.comment|linebreaksbr }}{% endif %}</td>
										</tr>
									{% endfor %}
								</table>
							{% else %}
								Brak szczegółów przypisanych do wizyty.
							{% endif %}
						</td>
					</tr>			
				{% endfor %}
			</table>
		</div>
	</div>

{% endblock %}