{% extends 'base.html' %}
{% load group_filter %}

{% block javascript %}
	{{ block.super }}

	<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.maphilight.min.js"></script>

	<script>
		$(document).ready(function() {
			$('.tooth_loss').hide();
			$('#tooth_losses').hide();
			
			$('.appointment').click(function() {
				id = '#appoint_' + $(this).attr('id');
				$(id).toggle();
			});
		});
	</script>
{% endblock %}

{% block right_column %}
	<div id="dane_pacjenta">
	Karta pacjenta
	<strong>"{{ patient.last_name }} {{ patient.first_name }}"</strong>
	<table>
	 <tr><th>PESEL</th><th>Adres:</th><th>Choroby</th></tr>
	<tr>
	<td>{{ patient.PESEL }}</td><br />
	<td>{{ patient.address }}</td></br>
	{% if patient.comment %}<td>{{ patient.comment }}</td>{% endif %}
	<td class="left">
	{% for d in patient.patient_diseases_set.all %}
		- {{ d.disease }} ({{ d.date|date:'Y-m-d' }}){% if forloop.counter != patient.patient_diseases_set.all.count %},</br> {% endif %}
	{% endfor %}
	</td>
	</tr>
	</table>
	</div>
	{% include 'teeth.html' with link="/patient_card/" losses_all=losses_all %}
	
	<div id="tooth_losses">
		{% if losses %}
			<br /><strong>Historia zabiegu:</strong><br />
			<table>
			<tr><th>Ząb</th><th>Data</th><th>Rozpoznanie</th><th>Komentarz</th></tr>
			{% for l in losses %}
				<tr>
					{% if forloop.first %}<td rowspan="{{ losses.count }}">{{ l.tooth }}/{{ l.tooth_part }}</td>{% endif %}
		 			<td>{{ l.appointment.date|date:'Y-m-d' }}</td>
		 			<td>{{ l.loss_type }}</td>
		 			<td>{{ l.comment }}</td>
		 		</tr>
			{% endfor %}
			</table>
		{% endif %}
	</div>
	
	<br /><strong>Wizyty:</strong><br />
	{% for a in appoints %}
	<div class="appoint">
		<div class="appointment" id="{{ a.id }}">
			<table>
			<tr><th>Data</th><th>Termin</th><th>Dentysta</th></tr>
			<tr>
			<td>{{ a.date }}</td>
			<td>{% if a.untimely|is_false %}{{ a.hour|time:'H:i' }}, {{ a.appointment_type.length }} minut<br />{% endif %}</td>
			<td>{{ a.dentist.last_name }} {{ a.dentist.first_name }}</td>
			</tr>
			</table>
		</div>
			{% if a.description %}a.description<br /> {% endif %}
			<div id="appoint_{{ a.id }}" class="tooth_loss">
			{% if a.tooth_loss_set.all %}
				<table>
					<tr><th>Ząb</th><th>Rozpoznanie</th><th>Komentarz</th></tr>
					{% for t in a.tooth_loss_set.all|order_by:'tooth' %}
						<tr>
						<td>{{ t.tooth }} - {{ t.tooth_part.name }}</td>
						<td>{% if t.loss_type %}{{ t.loss_type }}{% endif %}</td>
						<td>{% if t.comment %}{{ t.comment }}{% endif %}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
			</div>
	</div>
	{% endfor %}
{% endblock %}