{% extends 'base.html' %}

{% block javascript %}
{{ block.super }}

<script>
	$(document).ready(function() {
		 $("input[name=pat]").keyup(function() {
			$.post('/reservations/',
			{ pat: $(this).val(),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#forms').html($(data).find('#forms').html());
				$('.pagination').html($(data).find('.pagination').html()); 
			});
		 	
		 	return false;
		 });
		 
		 $('.patient').live('click',function() {
			$.post('/reservations/',
			{ patient: $(this).attr('id'),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			  function(data) { 
				$('#content').html(data); 
			  }
			 );
			return false;
		});
		 
	});
</script>
{% endblock %}

{% block right_column %}
Nazwisko pacjenta: <input type="text" name="pat" />
<div id="forms">
	{% for row in patients %}
		<div class="patient" id="{{ row.id }}">
	        {{ row.last_name }} {{ row.first_name }}, {{ row.address }}
	    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if patients.has_previous %}
            <a href="?page={{ patients.previous_page_number }}">Poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ patients.number }} z {{ patients.paginator.num_pages }}
        </span>

        {% if patients.has_next %}
            <a href="?page={{ patients.next_page_number }}">Następna</a>
        {% endif %}
    </span>
</div>
{% endblock %}