{% extends 'base.html' %}
{% load group_filter %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.maphilight.min.js"></script>
	
	<script>
		$(document).ready(function() {
			$('.tooth_loss').hide();
			$('#tooth_loss').hide();
			$('#tooth_losses').hide();
			
			$('#form_patient_edit').hide();
			$('#ok_description').hide();
			$("#cancel_description").hide();
			$(".app_form_edit").hide();
			
			{% if not appointment.is_now %}
				$('#is_in').text('Wszedł');
			{% endif %}
			
			$('.appointment').click(function() {
				id = '#appoint_' + $(this).attr('id');
				$(id).toggle();
			});
			
			$('#patient_edit').click(function() {
				$('#form_patient_edit').show();
				{% if patient.comment %}
				$('#patient_comment').val('{{ patient.comment }}');
				{% endif %}
			});
			
			$('#cancel_patient').click(function() {
				$('#form_patient_edit').hide();
			});
			
			$("#ok_patient").click(function() {
				$.post('/patient_card_dentist/',
					{ patient_comment: $('#patient_comment').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
				});
			 	return false;
			 });
			 
			 $("#is_in").click(function() {
				$.post('/patient_card_dentist/',
					{ is_now: 1,
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
						$('#is_in').text('Wyszedł');
						$('#is_in').attr('id', 'is_out');
				});
			 	return false;
			 });
			 
			 $("#is_out").click(function() {
				$.post('/patient_card_dentist/',
					{ is_now: -1,
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
						$('#is_out').hide();
				});
			 	return false;
			 });
			 
			 $("#back").click(function() {
			 
				$.post('{{ graphic }}',
					{ date: '{{ date }}',
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						window.location = '{{ graphic }}'; 
				});
			 	return false;
			 });
			 
			 $("#form_appointment_edit").keyup(function() {
			 	$("#ok_description").show();
			 	$("#cancel_description").show();
			 });
			 
			 $("#ok_description").click(function() {
				$.post('/patient_card_dentist/',
					{ appointment_description: $('#form_appointment_edit').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
				});
			 	return false;
			 });
			 
			 $('#cancel_description').click(function() {
			 	$('#ok_description').hide();
				$("#cancel_description").hide();
				$('#form_appointment_edit').val('{{ appointment.description }}');
			 });
			 
			 $('.app_edit').click(function() {
			 	id = $(this).attr('id');
			 	$('#app_form_edit_'+id).show();
			 });
			 
			 $('.cancel_app').click(function() {
			 	id = $(this).attr('name');
				$('#app_form_edit_'+id).hide();
			});
			
			$(".ok_app").click(function() {
				id = $(this).attr('name');
				$.post('/patient_card_dentist/',
					{ app_desc: $('#app_desc_'+id).val(),
					  app: id,
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#content').html(data); 
				});
			 	return false;
			 });
			 
			 $('#id_tooth').live('change', function() {
			 	$.post('/patient_card_dentist/',
					{ tooth: $('#id_tooth').val(),
					  tooth_part: '1',
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#tooth_loss').html($(data).find('#tooth_loss').html()); 
						$('#tooth_losses').html($(data).find('#tooth_losses').html()); 
				});
			 	return false;
			 });
			 
			 $('#id_tooth_part').live('change', function() {
			 	$.post('/patient_card_dentist/',
					{ tooth: $('#id_tooth').val(),
					  tooth_part: $('#id_tooth_part').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#tooth_loss').html($(data).find('#tooth_loss').html()); 
						$('#tooth_losses').html($(data).find('#tooth_losses').html());  
				});
			 	return false;
			 });
			 
			 $('#tooth_ok').live('click', function() {
			 	$.post('/patient_card_dentist/',
					{ tooth: $('#id_tooth').val(),
					  tooth_part: $('#id_tooth_part').val(),
					  loss_type: $('#id_loss_type').val(),
					  comment: $('#id_description').val(),
					  csrfmiddlewaretoken: '{{ csrf_token }}' },
					function(data) { 
						$('#tooth_loss').hide();
						$('#tooth_losses').hide();
						$('#appoint_losses').html($(data).find('#appoint_losses').html()); 						
				});
			 	return false;
			 });
			 
			 $('#tooth_cancel').live('click', function() {
			 	$('#tooth_loss').hide();
			 	$('#tooth_losses').hide();
			 });
			 
		});
	</script>
{% endblock %}

{% block right_column %}
	<div id="back">Powrót do grafiku</div>
	{{ patient.last_name }} {{ patient.first_name }}, PESEL: {{ patient.PESEL }}<br />
	{{ patient.address }}</br>
	{% if patient.comment %}{{ patient.comment }}<br />{% endif %}
	Choroby:<br />
	{% for d in patient.patient_diseases_set.all %}
		{{ d.disease }} ({{ d.date|date:'Y-m-d' }}){% if forloop.counter != patient.patient_diseases_set.all.count %}, {% endif %}
	{% endfor %}
	
	<br />
		
	<div id="is_in"></div>
	
	<div id="patient_edit">Edytuj</div>
	<div id="form_patient_edit">
		Komentarz: <textarea id="patient_comment" cols="80" rows="4"></textarea>
		<input type="submit" id="cancel_patient" value="Anuluj"/>
		<input type="submit" id="ok_patient" value="Zapisz"/>
	</div>

	{% include 'teeth.html' with link="/patient_card_dentist/" losses_all=losses_all %}

	<table id="tooth_loss">
		{{ form }}
		<tr><td><input type="submit" value="Anuluj" id="tooth_cancel" /></td>
		<td><input type="submit" value="Zapisz" id="tooth_ok" /></td></tr>
	</table>
	
	<div id="tooth_losses">
		{% if losses %}
			<table>
			<tr><th>Data</th><th>Rozpoznanie</th><th>Komentarz</th></tr>
			{% for l in losses %}
				<tr>
		 			<td>{{ l.appointment.date|date:'Y-m-d' }}</td>
		 			<td>{{ l.loss_type }}</td>
		 			<td>{{ l.comment }}</td>
		 		</tr>
			{% endfor %}
			</table>
		{% endif %}
	</div>
	
	Aktualna wizyta:<br />
	{{ appointment.date|date:'Y-m-d' }} {% if a.untimely|is_false %}{{ appointment.hour|time:'H:i' }}, {{ appointment.appointment_type.length }} minut{% endif %}<br />
	Opis: <textarea id="form_appointment_edit" cols="80" rows="4">{% if appointment.description %}{{ appointment.description }}{% endif %}
	</textarea>
	<input type="submit" id="ok_description" value="Zapisz"/>
	<input type="submit" id="cancel_description" value="Cofnij"/><br />
	<div id="appoint_losses">
		Zmiany na diagramie uzębienia:<br />
		{% for t in appointment.tooth_loss_set.all|order_by:'tooth' %}
			{{ t.tooth }} - {{ t.tooth_part.name }}<br />
			{% if t.loss_type %}Rozpoznanie: {{ t.loss_type.type }}<br />{% endif %}
			{% if t.comment %}{{ t.comment }}<br />{% endif %}
		{% endfor %}
	</div>
	
	Wizyty:<br />
	{% for a in appoints %}
	<div class="appoint">
		<div class="appointment" id="{{ a.id }}">
			{{ a.date }}<br />
			{% if a.untimely|is_false %}Termin: {{ a.hour|time:'H:i' }}, {{ a.appointment_type.length }} minut<br />{% endif %}
			Dentysta: {{ a.dentist.last_name }} {{ a.dentist.first_name }}<br />
			{% if a.description %}{{ a.description }}<br /> {% endif %}
			</div>
			<div id="{{ a.id }}" class="app_edit">Edytuj</div>
			<div id="app_form_edit_{{ a.id }}" class="app_form_edit">
				Opis: <textarea id="app_desc_{{ a.id }}" cols="80" rows="4">{% if a.description %}{{ a.description }}{% endif %}</textarea>	
				<input type="submit" class="cancel_app" value="Anuluj" name="{{ a.id }}"/>
				<input type="submit" class="ok_app" value="Zapisz" name="{{ a.id }}"/>
			</div>
			
			<div id="appoint_{{ a.id }}" class="tooth_loss">
				<table>
					<tr><th>Ząb</th><th>Rozpoznanie</th><th>Komentarz</th></tr>
					{% for t in a.tooth_loss_set.all|order_by:'tooth' %}
						<tr>
						<td>{{ t.tooth }} - {{ t.tooth_part.name }}</td>
						<td>{% if t.loss_type %}{{ t.loss_type }}{% endif %}</td>
						<td>{% if t.comment %}{{ t.comment }}{% endif %}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
	</div>
	{% endfor %}
{% endblock %}