{% extends 'base.html' %}

{% block right_column %}
<div id="forms">
<div id="info">
	Wprowadź dane dotyczące swojego konta w systemie i skontaktuj się z rejestratorem
	w jednym z gabinetów dentystycznych, by powiązać je ze swoją kartą.
</div>

<form action="{% url views.register2 %}" method="post"> {% csrf_token %}
	{% if form.non_field_errors %}
       	<div class="error">
		    {% for error in form.non_field_errors %}
		        <strong>{{ error|escape }} </strong>
			{% endfor %}
		</div>
	{% endif %}
	
	{% for field in form %}
		<div class="fieldWrapper">
	        {% if field.errors %}
	        	<div class="error">
			    {% for error in field.errors %}
			        <strong>{{ error|escape }} </strong>
			    {% endfor %}
			    </div>
			{% endif %}
	        {{ field.label_tag }} 
	        {{ field }}
	    </div>
    {% endfor %}
    
	<p><input id="send_log_big" type="submit" value="Zarejestruj" /></p>
</form>
</div>
{% endblock %}