{% extends 'base.html' %}
{% load group_filter %}

{% block javascript %}
	{{ block.super }}
	
	<script>
	$(document).ready(function() {
		 
		 $("input[name=date]").change(function() {
			$.post('/reservations/?type=ajax',
			{ date: $(this).val(),
			  appointment2: $('#appointment2').val(),
			  month: $('#month2').attr('class'),
			  year: {{ year }},
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			function(data) { 
				$('#content').html(data); 
			});
		 	return false;
		 });
		 
		 $("form").submit(function() {
		 	var date = $('input[name=date]:checked').val();
		 	var appoint = $('input[name=appoint]:checked').val();
		 	
		 	if (date == undefined && appoint == undefined) {
				$.post('/reservations/',
				{ appointment2: $('#appointment2').val(),
				  month: $('#month2').attr('class'),
			  	  year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				  function(data) { 
					$('#content').html(data); 
				}
				);
			} else if (date == undefined) {
				$.post('/reservations/',
				{ appoint: appoint,
				  appointment2: $('#appointment2').val(),
				  month: $('#month2').attr('class'),
			  	  year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				  function(data) { 
					$('#content').html(data); 
				}
				);
			} else if (appoint == undefined) {
				$.post('/reservations/',
				{ date: date,
				  appointment2: $('#appointment2').val(),
				  month: $('#month2').attr('class'),
			  	  year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
				  function(data) { 
					$('#content').html(data); 
				}
				);
			} else {
				$.post('/reservations/',
				{ appoint: appoint,
				  date: date,
				  appointment2: $('#appointment2').val(),
				  month: $('#month2').attr('class'),
			  	  year: {{ year }},
				  csrfmiddlewaretoken: '{{ csrf_token }}' },
					  function(data) { 
					$('#content').html(data); 
				}
				);
			}
			return false;
		 });	
		 
		 $('#prev').click(function() {
		 	var month = $('#month2').attr('class')-1;
		 	var year = {{ year }};
			if(month == 0) {
				month = 12;
				year = year -1;
			}
		 	$.post('/reservations/?type=ajax',
			{ appointment2: $('#appointment2').val(),
			  month: month,
			  year: year,
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			  function(data) { 
				$('#content').html(data);
			});

		 	return false;
		 });
		 
		 $('#next').click(function() {
		 	var month = $('#month2').attr('class')-1+2;
		 	var year = {{ year }};
			if(month == 13) {
				month = 1;
				year = year - 1 + 2;
			}
		 	$.post('/reservations/?type=ajax',
			{ appointment2: $('#appointment2').val(),
			  month: month,
			  year: year,
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			  function(data) { 
				$('#content').html(data);
			});

		 	return false;
		 });
		 
		 {% if form.date.errors %}
		 	$('.date_options').css('height', '315');
		 {% endif %}
		 {% if form.appoint.errors %}
		 	$('.opcje').css('height', '345');
		 {% endif %}	 
		 
	});
	</script>
{% endblock %}

{% block header %}
	Zmiana terminu wizyty <strong>{{ app.date|date:'Y-m-d' }} {{ app.hour|time:'H:i' }}</strong> u dentysty <strong>{{ app.dentist }}</strong>
{% endblock %}

{% block right_column %}
<div id="rejestracja">
<div id="register_form">
<form action="{% url views.reservations %}" method="post"> {% csrf_token %}
	{% if form.non_field_errors %}
       	<div class="error">
		    {% for error in form.non_field_errors %}
		        <strong>{{ error|escape }} </strong>
			{% endfor %}
		</div>
	{% endif %}
	
	<div id="date">
		<div class="rej_tytul">
			{{form.date.label_tag}}
		</div>
		<div id="month">
     		<div id="prev" class="button6"><</div>
     		<div id="month2" class="{{ month }}">{{ month|month_name }} {{ year }}</div>
     		<div id="next" class="button6" style="clear: right">></div>
     	</div>
		<div class="error">
		    {% for error in form.date.errors %}
		        <strong>{{ error|escape }} </strong>
		    {% endfor %}
		</div>
		<div class="date_options">
			{{form.date}}
		</div>
	</div>
   
     <div class="typ_2">
	     <div class="rej_tytul">
	     	{{form.appoint.label_tag}}
		 </div>
		 <div class="error">
		    {% for error in form.appoint.errors %}
		        <strong>{{ error|escape }} </strong>
		    {% endfor %}
		</div>
		 <div class="opcje">
		 	{{form.appoint}}
		 </div>
	 </div>
	       
    <input type="hidden" value="{{ app_id }}" id="appointment2"/>
	<p><input id="send_log_rejestracja" type="submit" value="Zarejestruj" /></p>
</form>
</div>
</div>
{% endblock %}