{% extends 'base.html' %}
{% load group_filter %}
{% block css %}
	{{ block.super }}
	<link href="{{ MEDIA_URL }}/css/jquery_ui.css" rel="stylesheet" media="all" type="text/css" />
{% endblock %}
{% block javascript %}
{{ block.super }}
<script src="{{ MEDIA_URL }}/js/jquery_ui_min.js"></script>
<script>
	$(document).ready(function() {
	
	function ConfirmDialog(message, app){
	    $('<div></div>').appendTo('body')
	                    .html('<div><h4>'+message+'</h4></div>')
	                    .dialog({
	                        modal: true, title: 'Usuwanie rezerwacji', zIndex: 10000, autoOpen: true,
	                        width: 'auto', resizable: false,
	                        buttons: {
	                            Tak: function () {	
	                            	$.post('/reservations/',
										{ appointment: $(app).attr('id'),
										  csrfmiddlewaretoken: '{{ csrf_token }}' },
										function(data) { 
											$('#content').html(data); 
										}
									);
	                                $(this).dialog("close");
	                            },
	                            Nie: function () {
	                                $(this).dialog("close");
	                            }
	                        },
	                        close: function (event, ui) {
	                            $(this).remove();
	                        }
	                    });
    }

    	$('.delete').click(function() {
			ConfirmDialog("Na pewno chcesz usunąć tą wizytę?", this);
		 	return false;
		});
		
		$('.change').click(function() {
			$.post('/reservations/?type=ajax',
			{ appointment2: $(this).attr('id'),
			  csrfmiddlewaretoken: '{{ csrf_token }}' },
			  function(data) { 
				$('#content').html(data); 
			}
			 );
		 	return false;
		});
	});
</script>
{% endblock %}

{% if user|in_group:"rejestrator" %}
	{% block header %}
		Pacjent: {{ patient.last_name }} {{patient.first_name }}
	{% endblock %}
{% endif %}
{% block right_column %}
<div id="rezerwacje">
	<table id="reservations">
		<tr>
			<th>Data</th><th>Godzina</th><th>Dentysta</th><th>Gabinet</th><th colspan="2">Akcje</th>
		</tr>
		
		{% for r in reservations %}
			<tr>
				<td>{{ r.date|date:'d-m-Y' }}</td>
				<td>{{ r.hour|time:'H:i' }}</td>
				<td>{{ r.dentist.last_name }} {{ r.dentist.first_name }}</td>
				<td>{{ r.dental_office.address }}</td>
				<td class="delete" id="{{ r.id }}">Odwołaj</td>
				<td class="change" id="{{ r.id }}">Zmień</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}